<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="Csud_Postgre" connectionString="User ID=postgres;Password=abc123;Server=localhost;Port=5432;Database=postgres;Pooling=true;Connection Lifetime=0;" providerName="Npgsql" />
    <add name="Csud_Mongo" connectionString="mongodb://localhost:27017" />
  </connectionStrings>
</configuration>